@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Dynamic

@inject HttpClient client

<PageTitle>Index</PageTitle>

<h1>Hello, @userName</h1>
<br>
<button @onclick="OnTestBtnClick">Greet me</button>

@code {
    private string userName = "";

    private async Task OnTestBtnClick()
    {
        var response = await client.GetAsync("/.auth/me");

        using var responseStream = await response.Content.ReadAsStreamAsync();

        dynamic userJson = JsonSerializer.Deserialize<ExpandoObject>(responseStream);

        this.userName = userJson.clientPrincipal.userDetails;
    }

}