@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization

@inject HttpClient client
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="OnTestBtnClick">CLICK ME</button>

@code {

    private async Task OnTestBtnClick()
    {
        var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Get, "/api/httptest"));



        await JS.InvokeVoidAsync("alert", response.StatusCode);
    }

}